In [1]:
import pandas as pd
import numpy as np

In [6]:
results = pd.read_csv('./all_results.csv')
results['full_dataset_name'] = results.dataset_name.apply(lambda x: str(x).split('-')[0])

results.head()

  classifier_name dataset_name        f1  accuracy full_dataset_name
0      chrono_gam    Adiac-1.0  0.863638  0.982097             Adiac
1      chrono_gam    Adiac-2.0  0.766219  0.966752             Adiac
2      chrono_gam    Adiac-3.0  0.764811  0.961637             Adiac
3      chrono_gam    Adiac-4.0  0.873278  0.984655             Adiac
4      chrono_gam    Adiac-5.0  0.734804  0.959079             Adiac

In [9]:
grouped_results = results.groupby(['classifier_name', 'full_dataset_name']).mean()
grouped_results.to_csv('grouped_results.csv')
grouped_results

/tmp/ipykernel_43200/1497006652.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_results = results.groupby(['classifier_name', 'full_dataset_name']).mean()

                                         f1  accuracy
classifier_name full_dataset_name
chrono_gam      Adiac              0.812002  0.968273
                ArrowHead          0.645420  0.666667
                Beef               0.638721  0.800000
                BeetleFly          0.362937  0.500000
                BirdChicken        0.362937  0.500000
...                                     ...       ...
ocsvm           Wine               0.529378  0.481481
                WordSynonyms       0.173134  0.965078
                Worms              0.145764  0.800000
                WormsTwoClass      0.126316  0.506494
                Yoga               0.500147  0.539667

[510 rows x 2 columns]